In [1]:
! pip install -q kaggle

In [2]:
!unzip playground-series-s3e7

Archive:  playground-series-s3e7.zip
replace sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.isna().sum()

id                                      0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [4]:
test.isna().sum()

id                                      0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
dtype: int64

In [5]:
print('Categorical Value')
cat_var=train.select_dtypes(include=['object']).columns
for cat in cat_var:
    print(cat)

Categorical Value

In [6]:
print('Numerical Value')
num_var=train._get_numeric_data().columns
for num in num_var:
    print(num)

Numerical Value
id
no_of_adults
no_of_children
no_of_weekend_nights
no_of_week_nights
type_of_meal_plan
required_car_parking_space
room_type_reserved
lead_time
arrival_year
arrival_month
arrival_date
market_segment_type
repeated_guest
no_of_previous_cancellations
no_of_previous_bookings_not_canceled
avg_price_per_room
no_of_special_requests
booking_status

In [7]:
train.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1

In [8]:
train['no_of_children'].info

<bound method Series.info of 0        0
1        0
2        0
3        0
4        0
        ..
42095    0
42096    0
42097    0
42098    0
42099    0
Name: no_of_children, Length: 42100, dtype: int64>

In [63]:
no_of_children=train['no_of_children']
no_of_children.replace(to_replace = 0, value = no_of_children.mean(), inplace=True)

no_of_adults=train['no_of_adults']
no_of_adults.replace(to_replace = 0, value = no_of_adults.mean(), inplace=True)

# no_of_children=train['no_of_weekend_nights','no_of_week_nights','type_of_meal_plan','required_car_parking_space','room_type_reserved','market_segment_type','repeated_guest','no_of_previous_cancellations','no_of_previous_bookings_not_canceled','no_of_special_requests']
# no_of_children.replace(to_replace = 0, value = no_of_children.mean(), inplace=True)

no_of_weekend_nights=train['no_of_weekend_nights']
no_of_weekend_nights.replace(to_replace = 0, value = no_of_weekend_nights.mean(), inplace=True)

no_of_week_nights=train['no_of_week_nights']
no_of_week_nights.replace(to_replace = 0, value = no_of_week_nights.mean(), inplace=True)

type_of_meal_plan=train['type_of_meal_plan']
type_of_meal_plan.replace(to_replace = 0, value = type_of_meal_plan.mean(), inplace=True)

required_car_parking_space=train['required_car_parking_space']
required_car_parking_space.replace(to_replace = 0, value = required_car_parking_space.mean(), inplace=True)

market_segment_type=train['market_segment_type']
market_segment_type.replace(to_replace = 0, value = market_segment_type.mean(), inplace=True)

no_of_previous_cancellations=train['no_of_previous_cancellations']
no_of_previous_cancellations.replace(to_replace = 0, value = no_of_previous_cancellations.mean(), inplace=True)

no_of_previous_bookings_not_canceled=train['no_of_previous_bookings_not_canceled']
no_of_previous_bookings_not_canceled.replace(to_replace = 0, value = no_of_previous_bookings_not_canceled.mean(), inplace=True)

no_of_special_requests=train['no_of_special_requests']
no_of_special_requests.replace(to_replace = 0, value = no_of_special_requests.mean(), inplace=True)

room_type_reserved=train['room_type_reserved']
room_type_reserved.replace(to_replace = 0, value = room_type_reserved.mean(), inplace=True)

repeated_guest=train['repeated_guest']
repeated_guest.replace(to_replace = 0, value = repeated_guest.mean(), inplace=True)

In [64]:
train.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2.0,0.141093,0.884632,2.000000,1.000000,0.025249,0.428931,9,2018,1,14,1.000000,1.000000,11.000000,0.175772,67.50,0.571734,0.392019
1,1,2.0,0.141093,1.000000,2.000000,0.239192,0.025249,0.428931,117,2018,7,29,0.728504,0.029192,0.019715,0.175772,72.25,0.571734,0.392019
2,2,2.0,0.141093,0.884632,1.000000,0.239192,0.025249,0.428931,315,2018,12,2,0.728504,0.029192,0.019715,0.175772,52.00,0.571734,0.392019
3,3,1.0,0.141093,0.884632,2.000000,1.000000,0.025249,0.428931,32,2018,12,1,1.000000,0.029192,0.019715,0.175772,56.00,0.571734,0.392019
4,4,2.0,0.141093,1.000000,2.398005,0.239192,0.025249,0.428931,258,2018,10,16,0.728504,0.029192,0.019715,0.175772,100.00,0.571734,1.000000

In [65]:
X=train.drop("booking_status",axis=1).values
y=train["booking_status"].values

In [66]:
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=0.2,random_state=24)
train_X.shape,train_y.shape,test_X.shape,test_y.shape

((33680, 18), (33680,), (8420, 18), (8420,))

In [67]:
from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

#view transformed values
print(y_transformed)

[0 0 0 ... 0 0 0]

In [68]:
train_X,test_X,train_y,test_y=train_test_split(X,y_transformed,test_size=0.2,random_state=24)
train_X.shape,train_y.shape,test_X.shape,test_y.shape

((33680, 18), (33680,), (8420, 18), (8420,))

In [70]:
rf_model=RandomForestClassifier()
rf_model.fit(train_X,train_y)
rf_pred=rf_model.score(test_X,test_y)
rf_pred

0.808313539192399

In [53]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_y = le.fit_transform(train_y)

In [55]:
test.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,42100,3,0,1,4,0,0,1,111,2018,12,5,1,0,0,0,115.60,2
1,42101,2,0,0,3,0,0,0,22,2017,10,21,0,0,0,0,85.00,0
2,42102,2,2,0,1,0,0,3,18,2018,8,10,1,0,0,0,240.00,1
3,42103,2,0,0,3,0,0,0,88,2018,5,30,0,0,0,0,80.75,0
4,42104,1,0,0,2,2,0,0,7,2018,9,21,1,0,0,0,144.00,0

In [94]:
no_of_children=test['no_of_children']
no_of_children.replace(to_replace = 0, value = no_of_children.mean(), inplace=True)




no_of_weekend_nights=test['no_of_weekend_nights']
no_of_weekend_nights.replace(to_replace = 0, value = no_of_weekend_nights.mean(), inplace=True)

no_of_week_nights=test['no_of_week_nights']
no_of_week_nights.replace(to_replace = 0, value = no_of_week_nights.mean(), inplace=True)

type_of_meal_plan=test['type_of_meal_plan']
type_of_meal_plan.replace(to_replace = 0, value = type_of_meal_plan.mean(), inplace=True)

required_car_parking_space=test['required_car_parking_space']
required_car_parking_space.replace(to_replace = 0, value = required_car_parking_space.mean(), inplace=True)

market_segment_type=test['market_segment_type']
market_segment_type.replace(to_replace = 0, value = market_segment_type.mean(), inplace=True)

no_of_previous_cancellations=test['no_of_previous_cancellations']
no_of_previous_cancellations.replace(to_replace = 0, value = no_of_previous_cancellations.mean(), inplace=True)

no_of_previous_bookings_not_canceled=test['no_of_previous_bookings_not_canceled']
no_of_previous_bookings_not_canceled.replace(to_replace = 0, value = no_of_previous_bookings_not_canceled.mean(), inplace=True)

no_of_special_requests=test['no_of_special_requests']
no_of_special_requests.replace(to_replace = 0, value = no_of_special_requests.mean(), inplace=True)

room_type_reserved=test['room_type_reserved']
room_type_reserved.replace(to_replace = 0, value = room_type_reserved.mean(), inplace=True)

repeated_guest=test['repeated_guest']
repeated_guest.replace(to_replace = 0, value = repeated_guest.mean(), inplace=True)

In [95]:
test.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,42100,3.0,0.140872,1.00000,4.0,0.23411,0.027006,1.000000,111,2018,12,5,1.000000,0.030711,0.024975,0.196736,115.60,2.000000
1,42101,2.0,0.140872,0.88877,3.0,0.23411,0.027006,0.430668,22,2017,10,21,0.725951,0.030711,0.024975,0.196736,85.00,0.573643
2,42102,2.0,2.000000,0.88877,1.0,0.23411,0.027006,3.000000,18,2018,8,10,1.000000,0.030711,0.024975,0.196736,240.00,1.000000
3,42103,2.0,0.140872,0.88877,3.0,0.23411,0.027006,0.430668,88,2018,5,30,0.725951,0.030711,0.024975,0.196736,80.75,0.573643
4,42104,1.0,0.140872,0.88877,2.0,2.00000,0.027006,0.430668,7,2018,9,21,1.000000,0.030711,0.024975,0.196736,144.00,0.573643

In [74]:
train_X=train.drop("booking_status",axis=1)
train_y=train["booking_status"]
test_X=test.copy()

In [78]:
train_X.shape,train_y.shape,test_X.shape

((42100, 18), (42100,), (28068, 18))

In [81]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_y = le.fit_transform(train_y)

In [82]:
XGB_model=XGBClassifier(n_estimators = 400, learning_rate = 0.1, max_depth = 3)
XGB_model.fit(train_X, train_y)
Y_pred=XGB_model.predict(test_X)

In [83]:
Y_pred

array([0, 0, 0, ..., 0, 0, 1])

In [85]:
id=test.id
x=test
Y_pred=XGB_model.predict(x)

In [86]:
output=pd.DataFrame({'id':id ,'booking_status': Y_pred})
output['booking_status']=output['booking_status']
output

          id  booking_status
0      42100               0
1      42101               0
2      42102               0
3      42103               0
4      42104               0
...      ...             ...
28063  70163               1
28064  70164               0
28065  70165               0
28066  70166               0
28067  70167               1

[28068 rows x 2 columns]

In [87]:
output.to_csv('submisson.csv',index=False)